VITE_SUPABASE_URL=https://zocncwchaakjtsvlscmd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Ot34P55l4JGe2RjZywLovA_UokWsJ0I
VITE_TELEGRAM_BOT_TOKEN=8956243873:AAEodlrEII9jJE7HJBiKhl6g-6zUT5GQgXI
VITE_TELEGRAM_CHAT_ID=-5551887255
HOSTINGER_SMTP_HOST=smtp.hostinger.com
HOSTINGER_SMTP_PORT=465
HOSTINGER_SMTP_USER=hello@maldives-serenitytravels.com
HOSTINGER_SMTP_PASS=Sphinx980#
NOTIFICATION_EMAIL=husn.maanee@gmail.com
